body {
	background-color: Snow;
	font-family: Century Gothic, sans-serif;
	width: 50%;
	margin-left: 25%;
	color: DarkSlateBlue;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.header  {
	text-align: center;
	font-variant: small-caps;
	font-size: 150%;
}

div.navigation {
	border-top: ridge 1px DarkSlateBlue;
	border-bottom: ridge 1px DarkSlateBlue;
	padding: 10px;
	margin-bottom: 10%;
	text-align: center;
	font-size: 120%;
}

div.project-type {
	border-bottom: dotted 1px DarkSlateBlue;
	font-variant: small-caps;
	clear: both;
}

div.block {
	border: 0px;
    border-spacing: 0px;
    clear: both;
    display: block;
    margin-bottom: 1.1em;
}

div.block-text div.block-img {
	letter-spacing: 0.5px;
    text-align: left;
    vertical-align: top
}

.block-img {
    float: left;
    padding-right: 13px;
}

.block-text {
	margin: 10px;
	font-size: 90%;
	padding-bottom: 20px;
}

.project-item {
	padding-bottom: 15px;
	display: inline;
    float: left;
    width: 350px;
}

.project-img {
    float: left;
    padding-right: 15px;
    display: table-cell;
    width: 100px;
    text-align: left;
}

.project-text {
    padding-right: 15px;
    display: table-cell;
    width: 270px;
    text-align: left;
    font-size: 90%;
}

b.block {
	font-size: 115%;
}

#contact {
	text-align: center;
}

.icon {
	margin-right: 10%;
}

#intro {
	margin-bottom: 20%;
}

#pic {
	width: 150px;
	height: 150px;
	float: right;
	border-radius: 50%;

	shape-outside: circle();
	shape-margin: 15px;
}

#research {
	text-align: left;
}

#eng {
	text-align: right;
}

#program {
	text-align: left;
}

